
<div class="container">
  <h3 style="text-align: center" class="text-primary">{{'recordDetailTitle' | translate}}</h3>
  <div class="card text-dark bg-light" *ngIf="realRecord else loadingSpinner">
    <div class="card-header ">
      <h5>{{'recordDetail'|translate}} {{record.id}}</h5>
    </div>
    <div class="card-body">
      <div class="row p-2">
        <ng-container *ngFor="let obj of realRecord">
          <div class="col-lg-4 col-sm-12 detail-record" >
            <div class="d-flex justify-content-between">
              <h6>{{obj.key}} :</h6>
              <p *ngIf="checkTypeof(obj.value) == 'number'; else notNumberData">
                {{obj.key !== 'id' ? ( obj.value | number:'1.0-2') : (obj.value)}}
              </p>
              <ng-template #notNumberData>
                <p>{{obj.value || "NULL"}}</p>
              </ng-template>
            </div>
            <hr>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-between">
      <button type="button" class="btn btn-success" routerLink="">{{'backHome'|translate}}</button>
      <div class="actions-btn">
        <button type="button" class="btn btn-secondary me-2" routerLink="../../record/edit/{{record.id}}">{{'edit' | translate}}</button>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">{{'delete' | translate}}</button>
        <!-- modal delete -->
        <app-modal
          [alertQuote]= "'alertQuote.delete'|translate"
          [idModal]= "'exampleModal'"
          [nameHandleBtn]="'delete'|translate"
          (handleFunction)="onDeleteRecord(record.id)"
        >
        </app-modal>
      </div>
    </div>
  </div>
</div>
<ng-template #loadingSpinner>
  <p>{{'loading'|translate}}</p>
</ng-template>
