hr {
  margin: -0.75rem 0 1.5rem;
}
.detail-record {
  padding: 0 2.5rem;
}
@media screen and (max-width:576px) {
  .detail-record {
    padding: 0 0.5rem;
  }
  .card-body {
    h6 {
      font-size: 15px!important;
    }
    p {
      font-size: 13.5px;
    }
  }
  .btn {
    font-size: 14px;
  }
}
