table,th,td {
  font-size: 15px!important;
}
th,td {
  text-align: center;
}
.actions {
  width: 15%;
}
@media screen and (max-width:992px) {
  .actions {
    width: 200px;
    height: 65px;
    display: block;
  }
}
@media screen and (min-width:1024px) {
  .actions {
    width: 200px;
    height: 65px;
    display: block;
  }
}
