<div class="modal fade" id={{idModal}} tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color:black" id="exampleModalLabel">
          {{alertQuote}}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{'close'|translate}}</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="onHandleFunction()">{{nameHandleBtn}}</button>
      </div>
    </div>
  </div>
