<div class="home">
  <div class="nav d-flex justify-content-between bg-light p-3 mb-3 rounded-3">
    <div class="nav-left d-flex">
      <div class="d-flex align-items-center" >
        <label class="me-2">{{'show' | translate}}&nbsp;:</label>
        <select class="rounded-2 select-form" [(ngModel)]= "numberPerPage" (change)="onChange($event)">
          <option selected>10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="50">50</option>
        </select>
      </div>
    </div>
    <button type="button" class="btn btn-primary" routerLink="../record/create">{{'createRecord' | translate}}</button>
  </div>
  <app-table
    [numberPerPage]="numberPerPage"
    [listColumnsName]="listColumnsName"
    [listRecord]="listRecord"
    [totalItems]="totalRecords"
    (handleFilterByField)="handleFilterByField($event)"
    (handleDeleteRecord)="handleDeleteRecord($event)"
    (handleSortByField)="handleSortByField($event)"
    (handleChangePage)="handleChangePage($event)"
  ></app-table>
</div>
